name: Freshworks Upload

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'   # Opcional: diario 12 UTC

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Google Chrome
      run: |
        sudo apt update
        sudo apt install -y google-chrome-stable

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Selenium script
      env:
        FRESHWORKS_EMAIL: ${{ secrets.FRESHWORKS_EMAIL }}
        FRESHWORKS_PASSWORD: ${{ secrets.FRESHWORKS_PASSWORD }}
      run: python script.py
